.section{
    background-color: hsl(210, 100%, 70%);
    height: 450px;
    text-align: center;
    padding: 100px;
    color: white;
}

.back{
    background-image: url('../img/tired.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 100px;
    color: white;
    background-repeat: no-repeat;
}
h1, h2{
    text-align: center;
    padding: 10px;
}

.hanger{
    height: 200px;
    background-color: white;
    margin-top: 200px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.info{
    margin-top: 100px;
}

footer{
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding: 25px;
}

.fluid{
    height: 200px;

}